div {
    border: 1px solid red;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    gap: 10px;
    h1 {
        color: green;
        text-decoration: underline;
        text-decoration-color: blue;
    }    
    section {
        display: flex;
        flex-direction: row;
        width: 100%;
        }
  }
  

@mixin article-card($color, $border, $font-size) {
    color: $color;
    border: $border;
    font-size: $font-size;
}

article {
    @include article-card(red, 1px solid green, 1rem)
}
article:nth-of-type(odd) {
    @include article-card(blue, 1px solid green, 1rem)
}
section:last-of-type article {
    @include article-card(green, 1px solid blue, 24px)
}
  div section article p {
    padding: 10px;
    align-self: center;
    text-align: center;
  }